.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
  }
  
  .input {
    width: 530px;
    height: 64px;
    background-color: #2F2F37;
    padding: 12px, 398px, 12px, 24px;
    border-radius: 40px;
    border: 2px;
    border-color: #4c4cff;
    color: #8585AD;
    padding-left: 20px;
  }
  
  input::placeholder {
    font-family: 'Jet Brains Mono';
    font-size: large;
  }
  
  .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .inputgroup {
    position:relative;
    display:inline-block;
  }
  