.body {
    display: flex;
    flex-direction: column;
    height: 55vh;
    overflow-y: scroll;
    margin-top: 1em;
    margin-bottom: 1em;
    row-gap: 1em;
}

.list {
  list-style-type: none;
}

.topElement {
    margin-top: 8em;
}

.footer {
  display: flex;
  justify-content: right;
}
