.body {
  display: grid;
  justify-items: center;
  position: relative;
  cursor: pointer;
  background-color: #1c1c21;
  border-radius: 50px;
  color: white;
  width: 500px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price {
  display: block;
  justify-content: flex-end;
  align-content: center;
}

.text {
    display: flex;
    justify-content: left;
}

.name {
  width: 100%;
}

.createdAt {
    display: flex;
    justify-content: right;
    color: #8585ad;
}

.img {
    display: flex;
    border-radius: 50%;
    height: 40px;
    max-width: 40px;
    border: 2px solid;
    border-color: #801AB3 ;
}

.coloured {
  display: flex;
  color:#8585ad;
  align-items: self-end;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;

}

.price {
  display: flex;
  justify-content: right;
}

.dark {
  filter: brightness(50%);
}

.imgText {
 position: absolute;
 top: 10px;
 right: 150px;
}
