.image{
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: space-around;
    color: #8585AD;
}

.name {
    display: flex;
    justify-content: center;
}
